<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893420819731-9vc225kns3oej565oa7k972191i0f6nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893420819731-9vc225kns3oej565oa7k972191i0f6nn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>893420819731-bp5olsqtv1ooubfbl5kluei6qe7724g3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqkGkYknJNsym7uOAx138T3rSj9hc4cts</string>
	<key>GCM_SENDER_ID</key>
	<string>893420819731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whoppah.app</string>
	<key>PROJECT_ID</key>
	<string>focus-blueprint-219909</string>
	<key>STORAGE_BUCKET</key>
	<string>focus-blueprint-219909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893420819731:ios:533ab4f37eab4a59</string>
	<key>DATABASE_URL</key>
	<string>https://focus-blueprint-219909.firebaseio.com</string>
</dict>
</plist>