//
//  Staging.xcconfig
//  Whoppah-staging
//
//  Created by Eddie Long on 05/04/2019.
//  Copyright © 2019 Whoppah. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = Testing
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconTesting

#include "Pods/Target Support Files/Pods-Whoppah-testing/Pods-Whoppah-testing.release.xcconfig"
